* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #111729;
}

@tailwind base;
.common {
  @apply flex flex-col w-full mb-6  relative;
}

.input-common {
  @apply py-[10px] px-[3%] text-[#c6c7c9] outline-none rounded-md text-xl;
}

.btn {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 mt-5;
}

.error {
  @apply text-red-600 absolute bottom-[-26px];
}

.title {
  @apply text-[28px] text-center mb-8;
}

.user-list {
  @apply flex justify-between text-sm;
}

.list {
  @apply block  text-sm;
}

@tailwind components;
@tailwind utilities;
